<div style="margin: 100px;">
  <h1 style="color: white;">EDIÇÃO PAGAMENTO</h1>
  <form action="/edicao-pagamento" method="POST">
        {{!-- data de pagamento --}}
      <div class="input-group">
        <label for="data_pag">insira a data de pagamento:</label>
        <input type="date" id="data_pag" name="data_pag" required>
      </div>
        {{!-- valor pago --}}
      <div class="input-group">
        <label for="valor_pag">insira o valor pago:</label>
        <input type="number" id="valor_pag" name="valor_pag" required>
      </div>
        {{!-- id cliente --}}
      <div class="input-group">
        <label for="id_clie">identifique-se com seu ID:</label>
        <input type="number" id="id_clie" name="id_clie" required>
      </div>
  
        {{!-- id mensalidade --}}
      <div class="input-group">
        <label for="id_mensal">identifique sua mensalidade pelo ID:</label>
        <input type="number" id="id_mensal" name="id_mensal" required>
      </div>

      <input type="submit">Enviar</input>
    </form>
</div>