<div> 
    <div class="container" style="background-color: black; height: 200px;px;;">
        <div class="texto">
        <img src="/img/relatorio.png">
        <a href="/pagamentos">contratos</a>
        </div>

        <div class="texto">
        <img src="/img/calendario.png">
        <a href="/mensalidade">calendario</a>
        </div>

        <div class="texto">
        <img src="/img/editar.png">
        <a href="/editar">alterar</a>
        </div>

        <div class="texto">
        <img src="/img/relatorio.png">
        <a href="/mensalidade">relatorio</a>
        </div>

        <div class="texto">
        <img src="/img/cadastrar.png">
        <a href="/cliente">cadastrar novo cliente</a>
        </div>

    </div>
</div>